{
  "presets": [
    "airbnb"
  ],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "transform-decorators-legacy",
    ["import", {
      "libraryName": "antd",
      "style": true,
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
