$main-color: #ef6942;
$seafoam-blue: #5ad7a3;
$apricot: #fc9d6c;
$orangish: #f97d5a;
$light-orangish: rgba(249, 125, 90, 0.2);

#editImage-container {
  .ant-tabs-tab {
    &:hover, &.ant-tabs-tab-active {
      color: $apricot;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $orangish;
  }
  .ant-upload.ant-upload-drag {
    &:hover {
      border-color: $apricot;
    }
    .anticon.anticon-inbox {
      color: $orangish;
    }
  }
}
